@font-face {
  font-family: "Futura";
  src: local("Futura"), url(../styles/Fonts/Futura.ttc) format("truetype");
}

@font-face {
  font-family: "Dakota_Regular";
  src: local("Dakota_Regular"),
    url(../styles/Fonts/Dakota_Regular.ttf) format("truetype");
}
