.header-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 98vw;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .header-center {
    display: flex;
    flex-direction: column;
  }

  .header-heading {
    font-family: Futura;
    font-weight: 500;
    font-size: 2em;
  }

  .header-mission {
    font-family: Dakota;
    font-weight: 500;
    font-size: 1em;
  }

  .header-subheading {
    font-family: Futura;
    font-weight: 500;
    font-size: 1.2em;
  }
}
