// ***Colors***
$blue-dk: #0082c0;
$blue-med: #51b3e3;
$blue-lt: #009ea2;
$blue-ltt: rgba(0, 130, 192, 0.1);

$green-dk: #0a6c38;
$green-med: #158840;
$green-lt: #409241;

$red-dk: #7a2614;
$red-med: #b4261c;
$red-lt: #b5321d;

$orange-dk: #e96f16;
$orange-med: #f8b306;
$orange-lt: #ffdf2a;

$greylt: #d8d8d8;
